<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center style="font-family: Helvetica; margin-top: 25%; color: gray; font-size: 2rem">
      <h1>Click to select file</h1>
    </center>
    <form method="post" enctype="multipart/form-data" id="mainForm">
      <input type="file" name="profile_pic" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; opacity: 0" onchange="document.getElementById('mainForm').submit()">
    </form>

</body>
</html>